#Data Loading, Storage, and File Formats (Ch.6)

In [15]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

#ubuntu의 SSL에러를 잡기위해 추가한 코드

In [16]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import pandas as pd

/home/goslim/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/matplotlib/__init__.py:1039: UserWarning: Bad val "QtAgg" on line #38
	"backend      : QtAgg
"
	in file "/home/goslim/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/matplotlib/mpl-data/matplotlibrc"
	Key backend: Unrecognized backend string "qtagg": valid strings are [u'pgf', u'cairo', u'MacOSX', u'CocoaAgg', u'gdk', u'ps', u'GTKAgg', u'nbAgg', u'GTK', u'Qt5Agg', u'template', u'emf', u'GTK3Cairo', u'GTK3Agg', u'WX', u'Qt4Agg', u'TkAgg', u'agg', u'svg', u'GTKCairo', u'WXAgg', u'WebAgg', u'pdf']
  (val, error_details, msg))

In [17]:
#urllib를 이용하여 파일을 읽어온 경우
import urllib
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv'))
#해당 URL주소의 파일을 리스트로 만들어 주는 파이썬 기본 내장함수

['a,b,c,d,message\n', '1,2,3,4,hello\n', '5,6,7,8,world\n', '9,10,11,12,foo']

In [18]:
#read_csv만을 이용하여 DataFrame으로 읽어 올 수 있다.
df = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
#read_table을 이용하여 쉼표를 구분자로 지정하여 읽어 올 수 있다.
pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
#ex2.csv 파일은 다음과 같은 내용이 들어 있다.
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv'))

['1,2,3,4,hello\n', '5,6,7,8,world\n', '9,10,11,12,foo']

In [21]:
#pandas가 자동으로 칼럼을 생성하도록 하는 옵션, 다양하게 지정도 가능
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
names = ['a','b','c','d','message']

In [24]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', names=names, index_col='message')
#message를 index로 하여 출력

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [25]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/csv_mindex.csv'))

['key1,key2,value1,value2\n',
 'one,a,1,2\n',
 'one,b,3,4\n',
 'one,c,5,6\n',
 'one,d,7,8\n',
 'two,a,9,10\n',
 'two,b,11,12\n',
 'two,c,13,14\n',
 'two,d,15,16\n']

In [26]:
parsed = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed    #key1, key2를 이용하여 계층적 색인이 가능하도록 하였다.

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [27]:
a = list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt'))
print type(a)
print a

<type 'list'>
['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']

In [28]:
result = pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [29]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex4.csv'))

['# hey!\n',
 'a,b,c,d,message\n',
 '# just wanted to make things more difficult for you\n',
 '# who reads CSV files with computers, anyway?\n',
 '1,2,3,4,hello\n',
 '5,6,7,8,world\n',
 '9,10,11,12,foo']

In [30]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv'))

['something,a,b,c,d,message\n',
 'one,1,2,3,4,NA\n',
 'two,5,6,,8,world\n',
 'three,9,10,11,12,foo']

In [32]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv')
result   #해당 파일을 read_csv 함수를 이용하여 DataFrame으로 출력

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [33]:

pd.isnull(result)   #null값이 들어간 값에 대해서만 True가 출력

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [34]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [35]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}   #각 칼럼의 다른 문자를 사전값으로 처리

In [36]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv', na_values=sentinels)
#message에서 foo와 NA를 something에서 two를 null로 인식 하도록

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6 NaN   8   world
2     three  9  10  11  12     NaN

In [37]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [38]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', nrows=5)
#nrows 옵션을 주어 첫 몇줄만 읽어오도록

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [39]:
from pandas import Series, DataFrame

In [40]:
chunker = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', chunksize=1000)
chunker

In [41]:
chunker = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', chunksize=1000)

#chunker의 DataFrame에서 key칼람의 값들을 count하여 tot 시리즈에 저장하도록, 비어있는 경우 0으로 값을 채운다.
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.order(ascending=False)

In [42]:
tot[:10]   #처음부터 10개까지만

E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: float64

In [45]:
data = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv')
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [46]:
data.to_csv('ch06/out.csv')

In [47]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [48]:
import sys

In [49]:
data.to_csv(sys.stdout, sep='|')   #콘솔에서 확인할 수 있도록 실제 파일로 기록하지 않고 sys.stdout에 결과를 기록하도록 했다.

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [50]:
data.to_csv(sys.stdout, na_rep='NULL')   #누락된 값은 비어있는 문자열로 나타내도록 한다.

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [51]:
data.to_csv(sys.stdout, index=False, header=False)    #칼럼과 로우가 안보이는것을 볼 수 있다.

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [52]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])   #칼럼의 일부분만 기록할 수도 있고, 순서를 직접 지정할 수도 있다.

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [53]:
dates = pd.date_range('1/1/2000', periods=7)   #date_range메서드를 이용하여 시간을 기록하는 tseries를 생성
ts = Series(np.arange(7), index=dates)         #인덱스를 날짜로 하고 0~6까지의 수가 들어간 ts시리즈를 생성   
ts.to_csv('ch06/tseries.csv')

In [54]:
!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [55]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)   #parse_dates?

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [56]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv'))

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3","4"\n']

In [57]:
import csv
f = urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv')

reader = csv.reader(f)

In [58]:
type(reader)

_csv.reader

In [59]:
for line in reader:
    print line        #reader의 각 라인별로 읽어오기

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [60]:
lines = list(csv.reader(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv')))

In [61]:
header, values = lines[0], lines[1:]   #해당 파일을 reader 메서드로 읽어오고, lines 리스트에 각 줄을 저장, 첫번째는 header 나머지 줄은 값

In [62]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [63]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [64]:
with open('ch06/mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [65]:
!cat ch06/mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

In [66]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [67]:
import json

In [68]:
result = json.loads(obj)   #json.loads를 사용하여 obj의 json형태의 파일을 파이썬 형태로 변환하는 함수
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [69]:
asjson = json.dumps(result)
asjson

'{"pet": null, "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "places_lived": ["United States", "Spain", "Germany"]}'

In [70]:
#파이썬 형태로 변환한 result에서 siblings 부분의 내용을 DataFrame으로 생성
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [71]:
from lxml.html import parse
from urllib2 import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))   #APPLE Inc.의 주식 정보를  parsing하여 가져온다.

doc = parsed.getroot()
print parsed
print doc

<lxml.etree._ElementTree object at 0x7fb43ef872d8>
<Element html at 0x7fb43de334c8>

In [72]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x7fb43de33c00>,
 <Element a at 0x7fb43de33c58>,
 <Element a at 0x7fb43de33cb0>,
 <Element a at 0x7fb43de33d08>,
 <Element a at 0x7fb43de33d60>]

In [73]:
lnk = links[28]
lnk

In [74]:
lnk.get('href')

'https://autos.yahoo.com/'

In [75]:
lnk.text_content()

'Autos'

In [76]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]    #외부 URL이 담겨져 있는 a 태그에서의 href에 해당하는 url 값들을 urls 저장
urls[-10:]

['/q/op?s=AAPL&strike=142.00',
 '/q?s=AAPL150807P00142000',
 '/q/op?s=AAPL&strike=143.00',
 '/q?s=AAPL150807P00143000',
 '/q/op?s=AAPL&strike=145.00',
 '/q?s=AAPL150807P00145000',
 '/q/op?s=AAPL&strike=150.00',
 '/q?s=AAPL150807P00150000',
 '/q/op?s=AAPL&strike=155.00',
 '/q?s=AAPL150807P00155000']

In [77]:
tables = doc.findall('.//table')   #table 태그가 있는 값들을 tables에 저장,
calls = tables[1]
puts = tables[2]

In [78]:
rows = calls.findall('.//tr')   #calls에서 tr태그가 가지고 있는 값들을 저장

In [79]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [80]:
_unpack(rows[0], kind='th')

[u'\n                \n                     Strike\n                    \n                        \ue004\n                        \ue002\n                    \n                \n                \u2235 Filter\n            ',
 'Contract Name',
 u'\n                \n                    Last\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Bid\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Ask\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    %Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Volume\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Open Interest\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Implied Volatility\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ']

In [81]:
_unpack(rows[1], kind='td')

[u'\n                        \n                            \n                            \u2715\n                            [modify]\n                        \n                    ']

In [82]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [83]:
call_data = parse_options_data(calls)

In [84]:
put_data = parse_options_data(puts)

In [85]:
call_data[:10]

,Strike   ∵ Filter,Contract Name,Last  ,Bid  ,Ask  ,Change  ,%Change  ,Volume  ,Open Interest  ,Implied Volatility  
0,\n \n ...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,\n 80.00\n,\n AAPL150807C00080000\n,35.75,35.05,35.35,0,\n \n 0.00%\n ...,12,0,\n 311.72%\n
2,\n 90.00\n,\n AAPL150807C00090000\n,25.30,25.00,25.25,0,\n \n 0.00%\n ...,82,0,\n 239.84%\n
3,\n 95.00\n,\n AAPL150807C00095000\n,20.70,20.05,20.20,0,\n \n 0.00%\n ...,319,0,\n 178.13%\n
4,\n 100.00\n,\n AAPL150807C00100000\n,15.05,15.10,15.25,0,\n \n 0.00%\n ...,54,0,\n 127.34%\n
5,\n 105.00\n,\n AAPL150807C00105000\n,10.20,10.10,10.25,0,\n \n 0.00%\n ...,115,0,\n 88.67%\n
6,\n 107.00\n,\n AAPL150807C00107000\n,8.25,8.10,8.25,0,\n \n 0.00%\n ...,116,0,\n 73.05%\n
7,\n 108.00\n,\n AAPL150807C00108000\n,6.75,7.15,7.25,0,\n \n 0.00%\n ...,38,0,\n 70.70%\n
8,\n 109.00\n,\n AAPL150807C00109000\n,6.10,6.15,6.25,0,\n \n 0.00%\n ...,95,0,\n 62.11%\n
9,\n 110.00\n,\n AAPL150807C00110000\n,5.32,5.15,5.25,0,\n \n 0.00%\n ...,693,0,\n 53.71%\n

In [86]:
%cd MTA_Performance_Datall
!head -21 Performance_MNRR.xml   #해당 폴더로 이동후, head에 관한 21줄을 출력

[Errno 2] No such file or directory: 'MTA_Performance_Datall'
/home/goslim/python_for_data_analysis

In [87]:
!pwd

/home/goslim/python_for_data_analysis

In [88]:
#해당 데이터를 lxml.objectify를 이용하여 파싱
from lxml import objectify

path = 'Performance_MNRR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()   #현재 객체의 root를 얻어 root에 저장

In [89]:
data = []   #해당 데이터를 저장할 리스트를 생성

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']   #스킵 할 필드의 리스트를 생성

#파싱되어진 파일이 저장된 root에 INDICATOR을 각 줄마다 elt에 리스트로 저장, 스킷해도 되는 필드의 경우 지나치고
#스킵할 것이 아닌 경우에는 해당 값을 data리스트에 추가 시킨다.
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():   
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.values
    data.append(el_data)

In [90]:
perf = DataFrame(data)
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,YEAR
0,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
1,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
2,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
3,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
4,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
5,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
6,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
7,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
8,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
9,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
10,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
11,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...
12,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Stri...,<built-in method values of lxml.objectify.Obje...

In [91]:
root

In [92]:
root.get('href')

In [93]:
root.text

In [94]:
from StringIO import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()   #root권한으로 해당 태그를 root에 추가

In [95]:
root

In [96]:
root.get('href')

'http://www.google.com'

In [97]:
root.text

'Google'

In [98]:
frame = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [100]:
!pwd

/home/goslim

In [101]:
%cd  python_for_data_analysis/
frame.to_pickle('ch06/frame_pickle.csv')

/home/goslim/python_for_data_analysis

In [105]:
!cat ch06/frame_pickle.csv

�cpandas.core.frame
DataFrame
q)�qcpandas.core.internals
BlockManager
q)�q(]q(cpandas.core.index
_new_Index
qcpandas.core.index
Index
q}q(Udataq	cnumpy.core.multiarray
_reconstruct
q
cnumpy
ndarray
qK �Ub�Rq(KK�cnumpy
dtype
UO8K K�Rq(KU|NNNJ����J����K?tb�]q(UaUbUcUdUmessageqetbUnameqNu�Rqhcpandas.core.index
Int64Index
q}q(h	h
Ui8K K�Rq(KU<NNNJ����J����K tb�U                      tbhNu�Rqe]q(h
hK �Ub�Rq(KKK�h�U`              	                     
                                                 tbh
hK �Ub�Rq(KKK�h�]q(UhelloqUworldqUfooqetbe]q(hh}q (h	h
hK �Ub�Rq!(KK�h�]q"(UaUbUcUdetbhNu�Rq#hh}q$(h	h
hK �Ub�Rq%(KK�h�]q&hatbhNu�Rq'e}q(U0.14.1q)}q*(Uaxesq+hUblocksq,]q-(}q.(Umgr_locsq/c__builtin__
slice
q0K KK�Rq1Uvaluesq2hu}q3(h/h0KKK�Rq4h2hueustbb.

In [106]:
#pandas는 PyTables를 이용한 HDFStore라는 가벼운 사전 클래스를 통해 pandas 객체를 저장한다.
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [107]:
store['obj1']

UsageError: Unknown variable '[obj1]'

In [108]:
xls_file = pd.ExcelFile('ch06/data.xlsx')
xls_file

ImportError: No module named xlrd

In [ ]:
table = xls_file.parse('Sheet1')   #pandas를 통해 읽어온 파일을 DataFrame으로 읽어 올 수 있다.
table

In [ ]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [ ]:
data = json.loads(resp.text)
data

In [ ]:
issue_labels = DataFrame(data)   #해당 데이터를 다음과 같이 DataFrame으로 생성
issue_labels

In [ ]:
issue_labels.ix[7]   #인덱스 8번째의 정보

In [ ]:
import sqlite3   #sqlite3데이터 베이스에 다음의 test라는 테이블을 생성

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')   #데이터베이스 연결 객체 생성
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),       #해당 테이블에 넣을 자료를 리스트로 생성
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"   #해당 자료가 들어갈 insert할 구문

con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')   #해당 테이블의 자료를 볼 수 있도록 rows리스트에 저장하여 출력
rows = cursor.fetchall()
rows

In [ ]:
cursor.description   #description 속성을 이용하여 칼럼의 이름을 지정

In [ ]:
DataFrame(rows, columns=zip(*cursor.description)[0])   #rows와 각 해당 칼럼의 이름을 지정하여 DataFrame에 저장하여 출력

In [ ]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)   #select쿼리문과 데이터베이스 연결 객체(con)만 넘기면 된다.

In [ ]:
import pymongo

In [ ]:
con = pymongo.Connection('localhost', port=27017)